
<img id="heroimg" src="../../assets/biletter.jpg" alt="Ticket_img">
  <h1 class="bigtext">KØB BILLET</h1>
  <section id="info">
<h2 class="tickethead">INFORMATION OM DEN VALGTE BILLET</h2>
<br>
<h3 class="name">{{ticket.item.name}}</h3>
<br>
<p class="desc">{{ticket.item.description}}</p>
</section>
<section id="order">
<h2 class="tickethead">BESTILLING</h2>
<div class="billet">
  <div class="antal">
  <input #antal type="number" id="quantity" value="1" name="quantity" min="1" max="30" (click)="calcTicket()"> <p class="stk">Stk.</p>
</div>
  <p class="ticket_name">{{ ticket.item.name}}</p>
  <p class="ticket_price" #price> DKK {{ ticket.item.price}}</p>
  <div class="calcgrid">
    <p class="ticket_price">DKK</p>
    <p class="ticket_price" #calc1>{{ ticket.item.price}}</p>
  </div>
  </div>
  <div class="billet">
    <div class="antal">
  </div>
    <p class="ticket_name"></p>
    <p class="ticket_price"> Pris i alt: </p>
    <div class="calcgrid">
    <p class="ticket_price">DKK</p>
    <p class="ticket_price" #calc2>{{ ticket.item.price}}</p>
  </div>
    </div>
<div class="ordergrid">
  <div class="form" [formGroup]="koebForm">
    <form [formGroup]=" koebForm">
      <section class="personal-information">
          <section class="reserve">
              <h3 class="camp">Reserver Camp pladser</h3>
              <input type="number" name="amout" id="amount" value="1" formControlName="amount">
              <select formControlName="campId">
                <ng-container *ngFor="let camp of ticket.item.camps;">
                  <option value="{{camp.id}}"> {{camp.name}}</option>
                </ng-container>
              </select>
              <h3 class="userinfo">Indtast kundeoplysninger</h3>
              <label for="e-mail">Email/Brugernavn:</label>
              <input type="text" name="e-mail" id="e-mail" placeholder="Indtast din email" formControlName="email">
              <label for="pasword">Adgangskode:</label>
              <input type="password" name="password" id="password" placeholder="Indtast en adgangskode"
                  formControlName="password">
              <label for="repassword">Gentag adgangskode:</label>
              <input type="password" name="repassword" id="repassword" placeholder="Gentag adgangskode"
                  formControlName="repassword">
              <label for="name">Navn:</label>
              <input type="text" name="name" id="name" placeholder="Indtast navn" formControlName="name">
              <label for="address">Adresse:</label>
              <input type="text" name="address" id="address" placeholder="Indtast din adresse"
                  formControlName="address">
              <div class="city">
                  <div>
                      <label for="postNumber">Postnummer:</label>
                      <input type="text" name="postNumber" id="postNumber" placeholder="Indtast postnummer"
                          formControlName="zipcode">
                  </div>
                  <div>
                      <label for="cityName">By:</label>
                      <input type="text" name="cityName" id="cityName" placeholder="Indtast bynavn"
                          formControlName="city">
                  </div>
              </div>
          </section>
          <section class="shipping-option">
              <div>
                  <input type="radio" id="send" value="1" formControlName="type">
                  <label for="send"><span>Jeg ønsker billetterne tilsendt.</span>
                      Vi sender billetterne til dig med posten.</label>
              </div>
              <div>
                  <input type="radio" id="print" value="2" formControlName="type">
                  <label for="print"><span>Jeg udskriver billetterne selv </span>
                      Du modtager billetterne på din e-mail. Du kan så selv udskrive dem, og du sparer således
                      forsendelses-gebyret.</label>
              </div>
              <button type="submit" (click)="onSubmit()">Send</button>
          </section>
      </section>
  </form>
</div>
<div>hej</div>
</div>
</section>
<app-footer></app-footer>
