
<footer>
  <div class="footer">
    <div class="bigtext">FØLG OS</div>
    <div id="social">
      <a class="facebookBtn smGlobalBtn" href="#" ></a>
      <a class="twitterBtn smGlobalBtn" href="#" ></a>
      <a class="linkedinBtn smGlobalBtn" href="#" ></a>
      <a class="pinterestBtn smGlobalBtn" href="#" ></a>
      <a class="tumblrBtn smGlobalBtn" href="#" ></a>
    </div>
    <div class="footerimg">
      <div class="bigtext">TILMELD NYHEDSBREV</div>
      <p class="footertext">Få seneste nyt sendt direkte til din indbakke</p>
     <div class="input"> <input type="text" placeholder="INDTAST DIN E-MAIL" #email name="email" value=""> <button (click)="sendMail(email.value)">TILMELD NYHEDSBREV</button></div>
     <img src="../../assets/Hancock-kvalitet-logo.png" alt="Hancock_logo">
    </div>
  </div>
</footer>
